In [36]:
import pandas as pd
from random import randint
import random
import matplotlib.pyplot as plt
random.seed(0)

In [37]:
df_pipo = pd.read_excel("PIPO.xlsx")
df_flexible_clients = pd.read_excel("Total flexible clients.xlsx")

In [38]:
df_pipo.head()

,#Rno,In Time,Out Time,Hour,Day,Month,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,943,2022-01-01 16:19:36,2022-01-01 17:39:12,16,Saturday,1,NaN,NaN,NaN,NaN,NaN
1,943,2022-01-03 17:23:00,2022-01-03 18:46:00,17,Monday,1,NaN,NaN,NaN,NaN,NaN
2,943,2022-01-06 17:55:16,2022-01-06 19:50:32,17,Thursday,1,NaN,NaN,NaN,NaN,NaN
3,943,2022-01-07 18:57:24,2022-01-07 21:54:48,18,Friday,1,NaN,NaN,NaN,NaN,NaN
4,943,2022-01-08 18:57:55,2022-01-08 20:55:50,18,Saturday,1,NaN,NaN,NaN,Row Labels,Count of Hour

In [39]:
df_flexible_clients.tail()

    #Rno
90  1704
91  1714
92  1414
93  1808
94   869

In [40]:
flexi_list = []
for i in df_flexible_clients["#Rno"]:
    flexi_list.append(i)
print(flexi_list)

[953, 1044, 1049, 1052, 1053, 1057, 983, 1073, 1076, 1081, 1090, 989, 1094, 1101, 1102, 971, 1107, 1109, 1120, 1121, 1124, 768, 860, 944, 1160, 1164, 863, 772, 774, 876, 986, 868, 1225, 1229, 1233, 993, 1008, 786, 789, 793, 1246, 1328, 794, 1358, 1265, 1082, 1383, 798, 922, 1391, 854, 803, 804, 1333, 1334, 805, 806, 1272, 1371, 1378, 919, 811, 813, 1376, 879, 880, 1248, 886, 1418, 1495, 1529, 851, 881, 823, 824, 1405, 1629, 1493, 1633, 1648, 1115, 1503, 1657, 833, 1685, 1707, 1731, 1738, 1565, 1581, 1704, 1714, 1414, 1808, 869]

In [41]:
noon_and_evening_slot = [11,12,13,14,15,16,17]  # time in 24 hour format

In [42]:
for i in range(len(df_pipo)):
    if df_pipo["#Rno"][i] in flexi_list:# if the client is non-eve client
        if df_pipo["Hour"][i] not in noon_and_evening_slot: # if the noon evening client is not in his supposed slot
            df_pipo["Hour"][i] = noon_and_evening_slot[randint(0,len(noon_and_evening_slot)-1)]  # assume the client accepts the discount offer and starts to visit the evening slot in evening slot

C:\Users\arnav\AppData\Local\Temp\ipykernel_12228\318784445.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pipo["Hour"][i] = noon_and_evening_slot[randint(0,len(noon_and_evening_slot)-1)]  # assume the client accepts the discount offer and starts to visit the evening slot in evening slot

In [43]:
df_pipo.to_excel("simulated new pipo1.xlsx", index = False)